<div class="row" style="padding-top: 20px">
    <div class="progress progress-striped">
        <div class="progress-bar" id="timeProgress" style="width: 4%"></div>
    </div>
</div>

<div class="row" style="margin-top: -10px">
    <label class="col-xs-1 label-quarter">Q1</label>

    <label class="col-xs-1 label-quarter">Q2</label>
    
    <label class="col-xs-1 label-quarter">Q3</label>
    
    <label class="col-xs-1 label-quarter">Q4</label>
    
    <label class="col-xs-1 label-quarter">Q1</label>
    
    <label class="col-xs-1 label-quarter">Q2</label>
    
    <label class="col-xs-1 label-quarter">Q3</label>
    
    <label class="col-xs-1 label-quarter">Q4</label>
    
    <label class="col-xs-1 label-quarter">Q1</label>
    
    <label class="col-xs-1 label-quarter">Q2</label>
    
    <label class="col-xs-1 label-quarter">Q3</label>
    
    <label class="col-xs-1 label-quarter">Q4</label>
</div>

<div class="row">
    <button (click)="makeProgress()" class="btn btn-primary">New Turn</button>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="img-responsive" id="headquartersMainChart" style="height: 638px; margin-top: 14px"></div>
    </div>

    <div class="col-md-6">
        <div class="img-responsive" id="headquartersMainChart2" style="height: 638px; margin-top: 14px"></div>
    </div>
</div>
