<div class="row" style="padding-top: 20px">
    <div class="progress progress-striped">
        <div class="progress-bar" id="timeProgress" style="width: 4%"></div>
    </div>
</div>

<div class="row" style="margin-top: -10px">
    <label class="col-xs-1 text-center">Q1</label>

    <label class="col-xs-1 text-center">Q2</label>

    <label class="col-xs-1 text-center">Q3</label>

    <label class="col-xs-1 text-center">Q4</label>

    <label class="col-xs-1 text-center">Q1</label>

    <label class="col-xs-1 text-center">Q2</label>

    <label class="col-xs-1 text-center">Q3</label>

    <label class="col-xs-1 text-center">Q4</label>

    <label class="col-xs-1 text-center">Q1</label>

    <label class="col-xs-1 text-center">Q2</label>

    <label class="col-xs-1 text-center">Q3</label>

    <label class="col-xs-1 text-center">Q4</label>
</div>

<div class="row" style="margin-top: 2px">
    <div class="col-md-6">
        <div class="img-responsive" id="headquartersLeftChart" style="height: 580px"></div>
    </div>

    <div class="col-md-6">
        <div class="img-responsive" id="headquartersRightChart" style="height: 580px"></div>
    </div>
</div>

<div class="row" style="margin-top: -1px">
    <div class="col-md-6">
        <div id="quantitySlider"></div>
        <div class="text-center" style="margin-top: 13px">
            <label for="quantityAmount">Quantity (units):</label>
            <input type="text" id="quantityAmount" readonly style="border: 0; color: #007FFF; font-weight: bold; width: 17px">
        </div>
    </div>
    <div class="col-md-6">
        <div id="researchSlider"></div>
        <div class="text-center" style="margin-top: 13px">
            <label for="researchAmount">Research:</label>
            <input type="text" id="researchAmount" readonly style="border: 0; color: #007FFF; font-weight: bold; width: 44px">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 29px">
    <div class="col-md-5 text-left">
        <label for="totalProfit">Total Profit:</label>
        <input type="text" id="totalProfit" value="{{totalProfit | currency:'USD':true:'1.2-2'}}" readonly style="border: 0; color: #007FFF; font-weight: bold">
    </div>
    <button (click)="makeProgress()" class="btn btn-primary col-md-2" style="margin-top: -8px">New Turn</button>
    <div class="col-md-5 text-right">
        <label for="profitMaximization">Profit Maximization:</label>
        <input type="text" id="profitMaximization" value="{{profitMaximization | percent:'1.2-2'}}" readonly style="border: 0; color: #007FFF; font-weight: bold; width: 57px">
    </div>
</div>
