<div class="row">
    <h2>Introduction</h2>
    <hr />

    <form (ngSubmit)="beginSimulation()" #settingsForm="ngForm" class="form-inline" role="form" style="margin-top: 15px">
        <div class="form-group margin-right-sm" style="width: 166px">
            <label for="settingsDescription">Description:</label>
            <select class="form-control" id="settingsDescription" required [ngModel]="settingsModel.description" (ngModelChange)="onSelectChange($event)" name="settingsDescription" style="width: 166px">
                <option *ngFor="let settings of userSettings" [value]="settings.description">{{settings.description}}</option>
            </select>
        </div>

        <div class="form-group margin-right-sm" style="width: 165px">
            <label for="settingsRevenueA">Revenue: a</label>
            <input type="text" class="form-control" id="settingsRevenueA" readonly [ngModel]="settingsModel.revenue_a" name="settingsRevenueA" style="width: 165px" />
        </div>

        <div class="form-group margin-right-sm" style="width: 165px">
            <label for="settingsRevenueB">Revenue: b</label>
            <input type="text" class="form-control" id="settingsRevenueB" readonly [ngModel]="settingsModel.revenue_b" name="settingsRevenueB" style="width: 165px" />
        </div>

        <div class="form-group margin-right-sm" style="width: 165px">
            <label for="settingsCostA">Cost: a</label>
            <input type="text" class="form-control" id="settingsCostA" readonly [ngModel]="settingsModel.cost_a" name="settingsCostA" style="width: 165px" />
        </div>

        <div class="form-group margin-right-sm" style="width: 165px">
            <label for="settingsCostB">Cost: b</label>
            <input type="text" class="form-control" id="settingsCostB" readonly [ngModel]="settingsModel.cost_b" name="settingsCostB" style="width: 165px" />
        </div>

        <div class="form-group margin-right-md" style="width: 165px">
            <label for="settingsCostC">Cost: c</label>
            <input type="text" class="form-control" id="settingsCostC" readonly [ngModel]="settingsModel.cost_c" name="settingsCostC" style="width: 165px" />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!settingsForm.form.valid" style="margin-top: 25px">Start</button>
    </form>
</div>

<div class="row">
    <div class="panel panel-primary" style="margin: 16px 0 10px 0">
        <div class="panel-body text-center" style="padding-top: 0; line-height: 0.5">
            <h3>Welcome to the Microeconomic Simulator of Firm Behavior under Monopolistic Competition!</h3>
            <br />

            <h3>In this educational game, you will play the role of the CEO of a recently launched startup for a period of three years.</h3>
            <br />

            <h3>Your goal is to maximize your firm’s profits within the dynamic environment of a monopolistically competitive market.</h3>
            <br />

            <h3>You will make quarterly decisions about the quantity of goods your firm produces and the amount it invests in product research.</h3>
            <br />

            <h3>
                Quantity affects your firm's total revenue and its total cost. Research has a 50% chance of reducing your firm's costs by an amount proportional to that invested.
            </h3>
            <br />

            <h3>When you are ready to begin, choose your settings from the drop-down list above and click the Start button to launch the simulation.</h3>
            <br />

            <h3>WARNING: If you reload/leave the game before you complete it, you will lose your progress!</h3>
        </div>
    </div>
</div>