<div class="table-responsive" style="margin-top: 43px">
    <table class="table table-striped table-bordered table-hover table-condensed" style="font-size: 14px">
        <thead>
        <tr>
            <th>E-mail</th>
            <th>Description</th>
            <th>Revenue: a</th>
            <th>Revenue: b</th>
            <th>Cost: a</th>
            <th>Cost: b</th>
            <th>Cost: c</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let settings of settingses">
            <td>{{settings.userEmail}}</td>
            <td>{{settings.description}}</td>
            <td>{{settings.revenue_a}}</td>
            <td>{{settings.revenue_b}}</td>
            <td>{{settings.cost_a}}</td>
            <td>{{settings.cost_b}}</td>
            <td>{{settings.cost_c}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>