<div class="row">
    <div class="jumbotron" style="margin-bottom: 3px">
        <h1>Firm Simulator</h1>

        <p class="lead">The Microeconomic Simulator of Firm Behavior under Monopolistic Competition is a free web application which provides an interactive means for people with little or no economics background to reinforce and evaluate their understanding of fundamental microeconomic principles.</p>

        <p><a class="btn btn-primary btn-lg" routerLink="/introduction">Get started &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="padding: 0 30px 0 0">
        <h2>Simulation</h2>

        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>

        <p><a class="btn btn-primary" routerLink="/introduction">Take me there &raquo;</a></p>
    </div>

    <div class="col-md-4" style="padding: 0 30px 0 0">
        <h2>Scores</h2>

        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>

        <p><a class="btn btn-primary" routerLink="/scores">Take me there &raquo;</a></p>
    </div>

    <div class="col-md-4" style="padding: 0">
        <h2>Settings</h2>

        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

        <p><a class="btn btn-primary" routerLink="/settings">Take me there &raquo;</a></p>
    </div>
</div>
