<div class="row">
    <div class="jumbotron" style="margin-bottom: 3px">
        <h1>Firm Simulator</h1>

        <p class="lead">The Microeconomic Simulator of Firm Behavior under Monopolistic Competition is a free web application which provides an interactive means for people with little or no economics background to reinforce and evaluate their understanding of fundamental microeconomic principles.</p>

        <p>
            <a class="btn btn-primary btn-lg" routerLink="/introduction">Get started &raquo;</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="padding: 0 30px 0 0">
        <h2>Simulation</h2>

        <p>Launch a new simulation. You need to be registered and logged in to use the simulator.</p>

        <p>
            <a class="btn btn-primary" routerLink="/introduction">Take me there &raquo;</a>
        </p>
    </div>

    <div class="col-md-4" style="padding: 0 30px 0 0">
        <h2>Scores</h2>

        <p>View your score history or see how your performance compares with that of other users.</p>

        <p>
            <a class="btn btn-primary" routerLink="/scores">Take me there &raquo;</a>
        </p>
    </div>

    <div class="col-md-4" style="padding: 0">
        <h2>Settings</h2>

        <p>Add your custom simulation settings, see your existing ones or view those of other users.</p>

        <p>
            <a class="btn btn-primary" routerLink="/settings">Take me there &raquo;</a>
        </p>
    </div>
</div>
